In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/TheTitanic.csv')

In [3]:
df.head()

,1,2,3,4,5,6,7,8,9,10
0,sn,pclass,survived,NaN,gender,age,family,fare,embarked,date
1,1,3,0,Mr. Anthony,male,42,0,7.55,NaN,01-Jan-90
2,1,3,0,Mr. Anthony,male,42,0,7.55,NaN,01-Jan-90
3,2,3,0,Master. Eugene Joseph,male,?,2,20.25,S,02-Jan-90
4,3,2,0,"Abbott, Mr. Rossmore Edward",NaN,NaN,2,**,S,03-Jan-90

In [4]:
df.columns

Index(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'], dtype='object')

In [5]:
df.shape

(1302, 10)

In [6]:
df.info

<bound method DataFrame.info of          1       2         3                                       4       5  \
0       sn  pclass  survived                                     NaN  gender
1        1       3         0                             Mr. Anthony    male
2        1       3         0                             Mr. Anthony    male
3        2       3         0                   Master. Eugene Joseph    male
4        3       2         0             Abbott, Mr. Rossmore Edward     NaN
...    ...     ...       ...                                     ...     ...
1297  1296       2         0  Yrois, Miss. Henriette ("Mrs Harbeck")  female
1298  1297       3         0                    Zabour, Miss. Hileni  female
1299  1298       3         0               Zakarian, Mr. Mapriededer    male
1300  1299       3         0                     Zakarian, Mr. Ortin    male
1301  1300       3         0                      Zimmerman, Mr. Leo    male

         6       7        8         9         10
0      age  family     fare  embarked       date
1       42       0     7.55       NaN  01-Jan-90
2       42       0     7.55       NaN  01-Jan-90
3        ?       2    20.25         S  02-Jan-90
4      NaN       2       **         S  03-Jan-90
...    ...     ...      ...       ...        ...
1297    24       0       13         S  19-Jul-93
1298  14.5       1  14.4542         C  20-Jul-93
1299  26.5       0    7.225         C  21-Jul-93
1300    27       0    7.225         C  22-Jul-93
1301    29       0    7.875         S  23-Jul-93

[1302 rows x 10 columns]>

In [7]:
df.isna().sum()

1       0
2       0
3       0
4       1
5       1
6     257
7       2
8       2
9       6
10      0
dtype: int64

****custom header,training'**''&****' a***s missing values

In [8]:
df2 = pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/TheTitanic.csv',header=1,na_values=('**','?'))

In [9]:
df2.head()

,sn,pclass,survived,Unnamed: 3,gender,age,family,fare,embarked,date
0,1,3,0,Mr. Anthony,male,42.0,0.0,7.55,NaN,01-Jan-90
1,1,3,0,Mr. Anthony,male,42.0,0.0,7.55,NaN,01-Jan-90
2,2,3,0,Master. Eugene Joseph,male,NaN,2.0,20.25,S,02-Jan-90
3,3,2,0,"Abbott, Mr. Rossmore Edward",NaN,NaN,2.0,NaN,S,03-Jan-90
4,4,3,1,"Abbott, Mr. Rossmore Edward",female,35.0,2.0,20.25,S,04-Jan-90

****renaming**** ****columns****

In [10]:
df2.rename(columns={'Unnamed: 3':'name'},inplace = True)
df2.head()

,sn,pclass,survived,name,gender,age,family,fare,embarked,date
0,1,3,0,Mr. Anthony,male,42.0,0.0,7.55,NaN,01-Jan-90
1,1,3,0,Mr. Anthony,male,42.0,0.0,7.55,NaN,01-Jan-90
2,2,3,0,Master. Eugene Joseph,male,NaN,2.0,20.25,S,02-Jan-90
3,3,2,0,"Abbott, Mr. Rossmore Edward",NaN,NaN,2.0,NaN,S,03-Jan-90
4,4,3,1,"Abbott, Mr. Rossmore Edward",female,35.0,2.0,20.25,S,04-Jan-90

****removing duplicates****

In [11]:
df2.drop_duplicates(inplace=True)
print("This dataset contain",df2.duplicated().sum(),"duplicate values.")

This dataset contain 0 duplicate values.

**removing rows**

In [12]:
df2.dropna(thresh=df.shape[1]-2, inplace=True) # dropping rows which 2 or more null values

In [13]:
df2.head()

,sn,pclass,survived,name,gender,age,family,fare,embarked,date
0,1,3,0,Mr. Anthony,male,42.0,0.0,7.55,NaN,01-Jan-90
2,2,3,0,Master. Eugene Joseph,male,NaN,2.0,20.25,S,02-Jan-90
4,4,3,1,"Abbott, Mr. Rossmore Edward",female,35.0,2.0,20.25,S,04-Jan-90
5,5,3,1,"Abelseth, Miss. Karen Marie",female,16.0,0.0,7.65,S,05-Jan-90
6,6,3,1,"Abelseth, Mr. Olaus Jorgensen",male,25.0,0.0,7.65,S,06-Jan-90

**filling missing values in age column(by mean)**

In [14]:
mean_age = df2['age'].mean().round()
df2['age'] = df2['age'].fillna(mean_age) #filling missing data with mean

In [15]:
 df2['age'].isna().sum() # null count for age column

0

**removing remaining null values**

In [16]:
df2.dropna(inplace = True)

In [17]:
df2.isna().sum()

sn          0
pclass      0
survived    0
name        0
gender      0
age         0
family      0
fare        0
embarked    0
date        0
dtype: int64

**label encoding**

In [18]:
df2['male'] = (df2['gender'] == 'male').astype(int)
df2['female'] = (df2['gender'] == 'female').astype(int)

In [19]:
df2['embarked'].value_counts()

embarked
S    902
C    267
Q    123
Name: count, dtype: int64

In [20]:
df2['embarked'].replace({'S':2,'C':1,'Q':0},inplace=True)

/tmp/ipykernel_18/361313236.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['embarked'].replace({'S':2,'C':1,'Q':0},inplace=True)
/tmp/ipykernel_18/361313236.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2['embarked'].replace({'S':2,'C':1,'Q':0},inplace=True)

In [21]:
df2.drop(columns=['gender','name','date'],inplace = True)

In [22]:
df2.head()

   sn  pclass  survived   age  family   fare  embarked  male  female
2   2       3         0  30.0     2.0  20.25         2     1       0
4   4       3         1  35.0     2.0  20.25         2     0       1
5   5       3         1  16.0     0.0   7.65         2     0       1
6   6       3         1  25.0     0.0   7.65         2     1       0
7   7       2         0  30.0     1.0  24.00         1     1       0

**spliting data and use standard scaling**

In [23]:
X = df2.drop(columns=['survived']) #features
y = df2['survived'] #target

In [24]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.8,stratify=y,random_state=2)

In [25]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train_sc = sc.fit_transform(X_train)
X_test_sc = sc.fit_transform(X_test)

In [26]:
df2.head()

   sn  pclass  survived   age  family   fare  embarked  male  female
2   2       3         0  30.0     2.0  20.25         2     1       0
4   4       3         1  35.0     2.0  20.25         2     0       1
5   5       3         1  16.0     0.0   7.65         2     0       1
6   6       3         1  25.0     0.0   7.65         2     1       0
7   7       2         0  30.0     1.0  24.00         1     1       0